.profile-block {
	background: #fff;
	border: 1px solid #9797;
	border-radius: 8px;
    padding:30px 36px;
    height:100vh;
    overflow:auto;
}
.profile-block .modal-header{
	padding-top:0px;
	padding-bottom: 0px;
	border-bottom:none;
}
.profile-block .modal-title{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 21px;
	color: #000;
}
.modal-center-Header{
	z-index: 3;
	display: block;
}
.modal-header .close{
	position: absolute;
	top:16px;
	right:24px;
}
.title-profile {
    margin-bottom: 30px;
	font-weight: 700;
}
.card-wrap {
	max-width: 449px;
	padding-bottom: 5px;
	border-bottom: 1px solid #DCDCDC;
}
.profile-card {
	width: 410px;
	padding: 16px 14px;
}
.icon {
	display: inline-block;
	height: 24px;
	width: 24px;
	margin-right: 10px;
}
.text-wrap h3,.text-wrap span {
	font-size: 18px;
	color: #737373;
}
.text-wrap h3 {
	color: #000;
	font-weight: 700;
}
.label-holder {
	border-radius: 8px;
	background-color: #D8D8D8;
	color: #3E3E3E;
	font-family: "Roboto Condensed";
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	padding: 2px 7px;
	display: inline-block;
}
.label-wrap {
	padding-top: 5px;
}
.details-wrap p {
	color: #737373;
	font-size: 16px;
	margin-bottom: 21px;
}
.profile-details {
	padding-top: 20px;
}
.details-wrap p span {
	color: #000;
	font-weight: 700;
}
.details-wrap {
	max-width: 479px;
	margin: auto;
	margin-bottom:20px;
	width: 100%;
}
.profile-authentication {
	padding: 26px 0px;
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	flex-wrap: wrap;
}
.profile-authentication p {
	margin-bottom: 0px;
}
.profile-modal-wrap .modal-btn{
	background-color: transparent !important;
	border:none !important;
	color:#000 !important;
	padding:0px;
}
.profile-modal-wrap .modal-btn:focus{
	border:none !important;
	outline: none !important;
	box-shadow: none !important; 
}
.profile-model .modal-content{
	background: transparent;
	border-radius: 0px;
}
.profile-modal-wrap .modal-btn{
	padding:0px;
}
@media (min-width: 576px){
	.profile-model.modal-dialog{
		max-width: 737px;
		
	}
	.profile-authentication{
		flex-wrap: nowrap;
	}
	.details-wrap{
		width: auto;
	}
}