<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="ISO-8859-1" />
        <title>FeedCollab</title>
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="images/favicon.ico"
        />
        <!-- css -->
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body style="font-family: 'Roboto Condensed', sans-serif;">
        <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="width: 430px; margin: 0 auto; margin-top: 50px;"
        >
            <tr>
                <td style="padding: 0px 0 80px;">
					<img src="cid:support@obortech.io" alt="OBORTECH" />
                </td>
            </tr>
            <tr>
                <td
                    style="font-size: 18px; line-height: 30px; color: #000; font-weight: 700;"
                >
                    Mongolian Express
                </td>
            </tr>
            <tr>
                <td
                    style="font-size: 18px; line-height: 30px; color: #000; font-weight: 700;"
                >
                    Jester_Tamir_01
                </td>
            </tr>

            <tr>
                <td
                    style="font-size: 18px; line-height: 39px; color: #000; font-weight: 500; padding: 20px 0; "
                >
                    To activate your account, please verify your email address.
                </td>
            </tr>

            <tr>
                <td style=" padding: 0 0 20px; ">
                    <a
                        href={{verificationLink}}
                        style="font-size: 18px; line-height: 39px; color: #FF0000; font-weight: 500;"
                    >
                        Confirm Email</a
                    >
                </td>
            </tr>

            <tr>
                <td
                    style="font-size: 18px; line-height: 24px; color: #000; font-weight: 500; padding: 0 0 90px; "
                >
                    Or, copy and paste the following URL into your browser:
                    <a href={{verificationLink}} style=" color: #000;"
                        >https://www.obortech.io/emaildhsdkjashdjkashd</a
                    >
                </td>
            </tr>

            <tr>
                <td
                    style="font-size: 12px; line-height: 16px; color: #737373; font-weight: 500; padding: 0 0 15px; "
                >
                    OBORTECHglobal OÜ, <br />
                    Harju maakond, Tallinn, Kesklinna linnaosa, <br />
                    Maakri tn 21, 10145, Estonia
                </td>
            </tr>

            <tr>
                <td
                    style="font-size: 12px; line-height: 16px; color: #3E3E3E; font-weight: 500;"
                >
                    www.obortech.ioa
                </td>
            </tr>
        </table>
    </body>
</html>
