.thank-font {
    height: 47px;
    width: 235px;
    color: #737373;
    font-family: "Roboto Condensed";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
}
.bgModal {
    background: url("/static/img/bg.jpg");
}
.input-wrap {
    justify-content: space-between;
    padding-right: 10px;
}
.userSuccess {
    font-size: 6rem;
}
.successUser {
    position: absolute;
    bottom: 53%;
    right: 43%;
    background: #128a12;
    height: 30px;
    border-radius: 50%;
    font-size: 1rem;
    color: white;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
.grid-place-items-center-verification {
    display: grid;
    place-items: center;
    text-align: center;
    margin-bottom: 3em;
}
.grid-place-items-center {
    min-height: 20em;
    display: grid;
    place-items: center;
}

.user-bg-color {
    background-color: #dcdcdc;
}

.user-bg-color:focus {
    background-color: #dcdcdc;
}

.onboarding-verify-btn {
    width: 31px;
    height: 31px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
}

.onboarding-verify-btn-icon {
    height: 21px;
    width: 21px;
    transform: scaleX(-1);
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    grid-gap: 1.2em;
}

.linear-gradient-btn {
    box-sizing: border-box;
    height: 30px;
    width: 211px;
    border: 1px solid #acacac;
    border-radius: 5px;
    background: linear-gradient(180deg, #e8e8e8 0%, #b5b5b5 100%);
}

.font-black {
    color: #000000;
}

.flexbox-top {
    padding: 3em 7em 0 7em;
    display: flex;
    justify-content: space-evenly;
}

.flexbox-center {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
.padding-left {
    padding-left: 4em;
}
.fas {
    padding-right: 0.3em;
}

.flexbox-space-evenly {
    margin-top: 5em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 20px;
}

.font-fade-out {
    height: 16px;
    width: 211px;
    color: #9f9f9f;
    font-family: "Roboto Condensed";
    font-size: 14px;
    letter-spacing: 0;
}

.signup-label-font {
    font-family: "Roboto Condensed";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    color: #3e3e3e;
}

.form-control-signup {
    box-sizing: border-box;
    height: 30px;
    width: 211px;
    border: 1px solid #acacac;
    border-radius: 5px;
    background-color: #ffffff;
}

.flex-content-center {
    display: flex;
    justify-content: center;
}

.margin-t-3em {
    margin-top: 4em;
}

.margin-tb {
    margin: 3em 0 2em;
}

.verification-container {
    margin-bottom: 5px;
    text-align: center;
}

.verification-link {
    height: 36px;
    width: 162px;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
}

/* steps */
.step-dots {
    height: 12px;
    width: 12px;
    margin: 0 10px;
    background-color: #dcdcdc;
    border: none;
    border-radius: 50%;
    display: inline-block;
}

/* .step-dots, */
.step-dots-active {
    background-color: rgb(0, 0, 0);
}
.signUp-field {
    width: 215px;
    margin: 0px 15px 0px 15px;
}
.signUp-field .form-control-signup {
    width: 100%;
}
.signUp-field .input-wrap {
    padding-right: 0px;
}
.common-model{
  padding:30px;
}
.onbordingModal{
  background: #fff;
}
.onbordingModal .modal-header{
  margin-bottom: 40px;
}
.onbordingModal .flex-content-center{
  margin-bottom: 3rem;
}
.signUp-field .linear-gradient-btn{
  width: 100%;  
}
.signUp-field .font-fade-out{
  height:auto;
}
.signUp-field .signup-label-font{
  display:block;
}
.onbordingModal.customModal .modal-body{
  padding:0px;
}
.form-space{
  padding-top:4%;
}
.onbordingModal .modal-header{
  margin-bottom:0px;
}
.thridForm{
  padding-top:1%;
}
@media (min-width: 576px){
.modal-dialog-centered.onbordingModal {
    min-height: calc(100% - 10.5rem);
}
}